<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div.article {
            display: inline-block;
            vertical-align: top;
            margin: 10px;
            border: 1px solid darkgrey;
            text-align: center;
            padding: 7px;
        }

        .article button {
            background: dodgerblue;
            color: white;
            border: none;
            padding: 5px;
            text-align: center;
            font-weight: bolder;
            cursor: pointer;
        }

        .comments {
            height: 800px;
            border: 2px solid darkgrey;
            display: none;
        }

        .comments .reponses {
            height: 95%;
            width: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
        }

        .comments .answer {
            height: 5%;
            width: 100%;
        }

        .comments .answer input {
            width: 90%;
            border: 1px solid darkgrey;
            height: 40px;
            margin-top: -2px;
        }


        .comments .answer input:focus {
            outline: none;
        }

        .comments .answer button {
            width: 9.85%;
            margin-top: -4px;
            height: 45px;
            margin-left: -5px;
            font-weight: bolder;
            color: white;
            background: purple;
        }

        .comments .reponse {
            padding: 2px;
            border: 1px solid black;
            margin: 15px;
            width: 300px;
            padding: 9px;
            border-radius: 20px;
        }

        .comments .reponse span {
            color: rgb(54, 43, 43);
            font-weight: bolder;
            font-size: 14px;
        }

        .comments .reponse p {
            font-size: 16px;
            color: black;
        }
    </style>
</head>

<body>
    <a href="#end" style="display: none">ok</a>
    <h1> Articles </h1>
    <div class="article">
        <h3>Parlons de NaN</h3>
        <button class="choose" id="1">commenter</button>
    </div>
    <div class="article">
        <h3>Parlons de javascript</h3>
        <button class="choose" id="2">commenter</button>
    </div>
    <div class="article">
        <h3>Parlons de go</h3>
        <button class="choose" id="3">commenter</button>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="comments">
        <div class="reponses">
            <div class="list">
                <div class="reponse">
                    <span>name</span>
                    <p>message</p>
                </div>
            </div>
            <div id="end"></div>
        </div>
        <div class="answer">
            <form action="#">
                <input type="text" id="message" required>
                <button>send</button>
            </form>
        </div>
    </div>
    <input type="hidden" id="id_article">
    <script>
        const ws = new WebSocket('ws://192.168.50.79:8090');

        document.querySelector('.reponses .list').innerHTML = '';

        ws.onopen = function (evt) {
            console.log('new connectio from client');
        }
        const button = document.querySelector('button');
        const allButton = document.querySelectorAll('button.choose');

        for (let i = 0; i < allButton.length; i++) {
            allButton[i].addEventListener('click', function () {
                const data = {
                    "type": "add",
                    "id_client": parseInt("<%= user.id %>"),
                    "name_client": "<%= user.nom %>",
                    "id_article": parseInt(this.getAttribute('id')),
                    "nom_article": this.previousElementSibling.textContent
                }
                console.log(data);
                document.querySelector('#id_article').value = parseInt(this.getAttribute('id'));
                ws.send(JSON.stringify(data));
            })
        }


        const form = document.querySelector('.answer form');
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            const data2 = {
                "type": "sendmessage",
                "id_client": "<%= user.id %>",
                "id_article": parseInt(document.querySelector('#id_article').value),
                "message": document.querySelector('#message').value
            }
            console.log(data2);
            ws.send(JSON.stringify(data2));
        })


        ws.onmessage = function (event) {
            const res = JSON.parse(event.data.toString());
            console.log(res);
            const reponses = document.querySelector('.reponses .list');
            if (res.type === "add") {
                reponses.innerHTML = "";
                if (getComputedStyle(document.querySelector('.comments'), null).display === "none") {
                    document.querySelector('.comments').style.display = "block";
                }
                if (!(res.messages.length === 0)) {
                    console.log(res);
                    res.messages.forEach(m => {
                        let output = `<div class="reponse">
                                <span>${m.user.nom}</span>
                                <p>${m.message}</p>
                            </div>`;
                        reponses.innerHTML += output;
                    });
                    document.querySelector('a[href="#end"]').click()
                }
            } else if (res.type === "sendmessage") {
                // console.log('oui oui', res);
                document.querySelector('#message').value = '';
                if (res.id_article === parseInt(document.querySelector('#id_article').value)) {
                    let output = `<div class="reponse">
                                <span>${res.username}</span>
                                <p>${res.message}</p>
                            </div`;
                    reponses.innerHTML += output;
                    document.querySelector('a[href="#end"]').click()
                }
                //console.log('no data');
            }

        }

        ws.onerror = (err) => {
            console.log(err);
        }
    </script>
</body>

</html>