<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>chat</title>
</head>
<style>
    h1 {
        font-weight: bolder;
        text-align: center;
        color: navy;
    }

    form {
        margin: 0 auto;
        width: 500px;
        text-align: center;
    }

    form input {
        padding: 3px;
        height: 40px;
        width: 100%;
        margin: 9px;
        color: black;
        border: 1px solid darkgrey;
        font-size: 15px;
    }

    form input:focus {
        outline: none;
    }

    form button {
        padding: 7px;
        border: 1px solid black;
        border-radius: 4px;
        font-size: 12px;
        cursor: pointer;
        font-size: 13px;
        margin: 7px;
        transition: all 0.50s ease-in;
    }

    form button:hover {
        background: black;
        color: white;
    }
</style>

<body>
    <h1>API CHAT</h1>

</body>

</html>